.login__container {
    background-color: #16162A;
    padding: 20rem auto;
}

.login__title {
    h2{
        margin: 0;
        padding-bottom: 20px;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 600;
        font-style: normal;
        color: #F3F3F3;
    }
}

.login__wrapper {
    border: 1px solid #52526B;
    border-radius: 10px;
    margin-left: 5rem;
    margin-right: 10rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 250px;
}

.login__number, .login__password {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    color: #F3F3F3;
    
    input {
        width: 100%;
        background: none;
        border: 1px solid #52526B;
        border-radius: 10px;
        height: 40px;
        padding-left: 10px;
    }
}

.login__button {
    padding-top: 100px;
    padding-bottom: 114.5px;
    margin-left: 5rem;
    button {
        margin-right: 1rem;
        background: none;
        border: 1px solid #52526B;
        border-radius: 4px;
        height: 48px;
        width: 88px;
        color: #EAEAFF;
        &:active, &:hover, &:focus {
            color: #16162A;
            background-color: #EAEAFF;
        }
    }

}