.navbar {
    &__container {
        background-color: #16162A;
        display: grid;
        grid-auto-rows: 1fr;
    }
    &__date{
    h5 {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        color: #8E8EA3;
        padding: 5rem 10rem 0 6.5rem;
    }
}
    &__option {
        display: flex;
        align-items: flex-end;
        height: 50px;
        margin: 0 11.5rem 0 6.5rem;
        border-bottom: 1px solid #52526B;
        h2{
            margin:0;
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
            font-weight: 500;
            font-style: normal;
            color: #818191;
            padding-right: 50px;
            padding-bottom: 0.5rem;
        }
    }
}