.otp__container{
    height: 100vh;
    background-color: #16162A;
    padding: 10rem;
}

.otp__date{
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #8E8EA3;
}

.otp__wrapper{
    border: 1px solid #52526B;
    border-radius: 10px;
    padding: 2rem;
    margin-top: 5rem;
}

.otp__title{
    padding-bottom: 2rem;
    h1{
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #F3F3F3;
        margin: 0;
    }
    p{
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        color: #8E8EA3;
        margin: 0;
    }
}

.otp__code{
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
    input{
        width: 60%;
        margin-right: 1rem;
        background: none;
        border: 1px solid #52526B;
        border-radius: 4px;
        color: #F3F3F3;
        text-align: center;
    }
    button{
        font-family: 'Roboto',
        sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
    }
}

.otp__resend{
    display: flex;
    align-items: center;
    margin-top: 5rem;
    p{
        margin: 0;
        padding-left: 1rem;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        color: #5C7AE5;
    }
}