.regis__container {
    background-color: #16162A;
    padding: 20rem auto;
}

.regis__title {
    h2{
        margin: 0;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 600;
        font-style: normal;
        color: #F3F3F3;
    }
    p{
        color: #8E8EA3;
        font-family: 'Poppins',
        sans-serif;
        font-size: 12px;
        font-weight: 300;
        font-style: normal;
    }
}

.regis__detail {
    h2{
        margin-top: 0;
        font-family: 'Poppins',
        sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: #F3F3F3;
    }
    h5{
        font-family: 'Poppins',
        sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        color: #F3F3F3;
    }
}

.regis__wrapper {
    border: 1px solid #52526B;
    border-radius: 10px;
    margin-left: 5rem;
    margin-right: 10rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    // height: 250px;
}

.regis__number, .regis__password {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    color: #F3F3F3;
    
    input {
        width: 100%;
        background: none;
        border: 1px solid #52526B;
        border-radius: 10px;
        height: 40px;
        padding-left: 10px;
    }
}

.regis__terms {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5rem;
    margin-top: 1rem;
    img{
        Width: 24px;
        Height: 16px;
    }
    p{
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        color: #5C7AE5;
        margin: 0;
    }
}

.regis__button {
    padding-top: 2rem;
    padding-bottom: 5.5rem;
    margin-left: 5rem;
    button {
        margin-right: 1rem;
        background: none;
        border: 1px solid #52526B;
        border-radius: 4px;
        height: 48px;
        width: 88px;
        color: #EAEAFF;
        &:active, &:hover, &:focus {
            color: #16162A;
            background-color: #EAEAFF;
        }
    }

}