.sidebar__{
    &container {
        background-color: #292946;
        height: 100vh;
    }
    &wrapper {
        padding: 5rem;
    }
    &title {
        display: flex;
        flex-direction: row;
        align-items: center;
        img{
            width: 22px;
            height: 22px;
        }
        p{
            color: #F3F3F3;
            font-size: 16px;
            font-weight: 700;
            font-style: normal;
            font-family: 'Raleway', sans-serif;
            margin: 0;
            padding-left: 1rem;
        }
    }
    &content {
        padding: 2rem;
        h1{
            color: #F3F3F3;
            font-size: 32px;
            font-weight: 600;
            font-style: normal;
            font-family: 'Poppins', sans-serif;
        }
        p{
            color: #8E8EA3;
            font-size: 14px;
            font-weight: 300px;
            font-style: normal;
            font-family: 'Roboto', sans-serif;
        }
    }
}